@font-face {
    font-family: NexaBold;
    src: url("../../../public/fonts/Nexa\ Bold.otf");
}

@font-face {
    font-family: NexaLight;
    src: url("../../../public/fonts/Nexa\ Light.otf");
}

*:focus {
    outline: none;
}

#control-panel{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0%, -50%);
    width: 230px;
    height: calc(fit-content + 300px);
    background-color: rgba(47, 47, 47, 0.485);
    border-radius: 10px;
}

#btnWrap{
    position: relative;
    top: 40px;
    left: 50%;
    width: calc(100% - 20px);
    height: 100px;
    transform: translate(-50%, 0%);
}

#startBtn{
    transition: 0.1s;
    position: absolute;
    background-color: #99c72e;
    color: white;
    height: 30px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    top: 20px;
}
#startBtn:hover{
    transition: 0.3s;
    background-color: #719719;
}
#startBtn:disabled{
    transition: 0;
    background-color: #3e3e3e;
    color: #868686;
    cursor: default;
}

#stopBtn{
    transition: 0.1s;
    position: absolute;
    background-color: #c72e2e;
    color: white;
    height: 30px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    top: 20px;
}
#stopBtn:hover{
    transition: 0.3s;
    background-color: #971919;
}

#writeBtn{
    transition: 0.1s;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #8828b4;
    color: white;
    width: calc(100% - 20px);
    height: 30px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#writeBtn:hover{
    transition: 0.3s;
    background-color: #704188;
}

#writeBtn:disabled{
    transition: 0;
    background-color: #55425e;
    color: #868686;
    cursor: default;    
}

#scoreboard{
    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    border-radius: 7px;
    background-color: #4fadff;
    width: calc(100% - 20px);
    height: 145px;
}
#scoreboard h1{
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    font-family: NexaBold;
}

#scoreboard .score{
    position: relative;
    top: 45px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: calc(100% - 10px);
    margin-bottom: 3px;
    height: 30px;
    border-radius: 5px;
    background-color: #3e87c7;
}
#scoreboard .score h1{
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translate(0%, -50%);
    font-weight: lighter;
    font-size: 15px;
    font-family: NexaLight;
}

/* select first child from scoreboard that has score class */
#scoreboard .score#score-1 h1{
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translate(0%, -50%);
    font-weight: lighter;
    font-size: 15px;
    font-family: NexaBold;
}

#playerName{
    position: relative;
    top: 37px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    border-radius: 7px;
    background-color: #ff4f81;
    width: calc(100% - 20px);
    height: 112px;
}
#playerName h1{
    position: absolute;
    top: 13px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    font-family: NexaBold;
    overflow: none;
}
#inputName{
    position: absolute;
    top: 43px; 
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
    color: black;
    width: calc(100% - 30px);
    height: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
#setNameBtn{
    transition: 0.1s;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #a13654;
    color: white;
    width: calc(100% - 20px);
    height: 30px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
#setNameBtn:hover{
    transition: 0.3s;
    background-color: #862e49;
}

#setNameBtn:disabled{
    transition: 0;
    background-color: #633741;
    color: #868686;
    cursor: default;    
}

#inputWord{
    position: absolute;
    bottom: 48px; 
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
    color: black;
    width: calc(100% - 30px);
    height: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

#currentScore{
    position: relative;
    top: 45px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    border-radius: 7px;
    background-color: #ff4f4f;
    width: calc(100% - 20px);
    height: 80px;
}
#currentScore h1{
    position: absolute;
    top: 13px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    font-family: NexaBold;
}
#currentScore div{
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translate(-50%, 0%);
}
#currentScore i{
    font-size: 1.4em;
    text-align: center;
    color: rgb(236, 236, 236);
}
#currentScore span{
    font-size: 1.4em;
    text-align: center;
    font-family: NexaLight;
    color: rgb(236, 236, 236);
}

#controls{
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #ff754f;
    width: calc(100% - 20px);
    border-radius: 7px;
    height: 80px;
}
.form-group{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: none;
    border-radius: 5px;
    margin: 0;
}

.form-group select {
    background: white;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
    font-size: 0.8em;
}
.form-group option {
    background: white;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    position: relative;
    z-index: 10;
    font-size: 0.8em;
    margin-top: 7px;
}
.form-group label{
    position: absolute;
    top: 0px;
    color: white;
    padding: 0;
    font-size: 1.2em;
    font-family: NexaBold;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, 0%);
}

.extraWords{
    position: relative;
    top: 96px;
    left: 50%;
    width: calc(100% - 20px);
    height: 125px;
    transform: translate(-50%, -50%);
    text-align: center;
    border: none;
    border-radius: 5px;
    margin: 0;
    background-color: #b64fff;
    padding-top: 10px;
}
.extraWords h1{
    position: absolute;
    top: 13px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    font-family: NexaBold;
}
.extraWords h2{
    position: absolute;
    top: 37px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: white;
    font-size: 12px;
    margin: 0;
    font-family: NexaLight;
}

