.words{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: #11111135; */
    background-color: #b6b6b69d;
    border-radius: 10px;
    padding: 10px;
}
.words ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.words ul li {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: NexaBold;
    padding-top: 3px;
    padding-bottom: 3px;
    text-shadow: 2px 2px 2px #8585856e;
}