.piece{
    z-index: 1000;
    transition: 0.2s;
    background-color: rgb(255, 163, 106);
    border-radius: 3px;    
    border: 0.5px solid rgb(210, 136, 90);
    cursor: pointer;
}

.letterWrap{

}

.selected{
    background-color: rgb(141, 89, 56);
}

.guessed{
    background-color: rgb(174, 113, 75);
    opacity: 1;
}

.letter{
    z-index: 999;
    padding: 0;
    margin: 0;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 50%;
    line-height: 5px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    user-select: none;
    cursor: default;
}

.piece:hover{
    transition: 0.1s;
    background-color: rgb(210, 136, 90);
}
